/*
  Stylesheet for the entire app.
*/

/*
  External Imports
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

.row {
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
}

body {
  padding: 0;
  border: 0;
  line-height: 1.61;
  font-family: "Open-Sans", sans-serif;
  margin: 0;
}

#header {
  padding: 1rem 0;
  width: 100%;
  background: rgb(0, 129, 203);
  color: white;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  z-index: 100;
}

#header .alignright {
  text-align: right;
}

#header .darkmodebutton {
  cursor: pointer;
}

#introducer {
  padding: 1rem;
  text-align: center;
}

.fixedContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

/* Browser Window */

.browserContainer {
  border: 0.1rem solid #121212;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  text-align: left;
  max-width: 600px;
  display: block;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
}

.tabDot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: #bbb;
  border-radius: 50%;
  margin-right: 0.15rem;
  display: inline-block;
}

.browserRow {
  padding: 10px;
  background: #121212;
  display: block;
}

.browserContent {
  padding: 0.5rem;
  overflow: auto;
  display: block;
  background: #212121;
  max-height: 60vh;
}

.hljs {
  background: #212121 !important;
}

/* Try Out Section */

#tryOut {
  background: #121212;
  padding: 1rem;
  color: #ffffff;
}

.textareacontainer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* Codemirror boxes. */

.cm-s-monokai {
  text-align: left;
  min-height: 15rem;
  max-height: 20rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 0.1rem solid #000000;
  border-radius: 0.15rem;
}

.cm-s-monokai * {
  background: #212121;
}

.CodeMirror-sizer {
  background: #212121;
}

.cm-s-monokai .CodeMirror-gutters {
  background: #212121;
}

.cm-s-monokai {
  caret-color: teal;
}

.cm-s-monokai *::-webkit-scrollbar {
  width: 0;
}

/* Dark Mode Additions */

.darkbody {
  /* A Dark Background for the body. */
  background: #212121 !important;
  color: #ffffff;
}

.darkcode {
  /* A Dark Background for the code body. */
  background: #212121 !important;
  color: #ffffff !important;
}

.form-control {
  background: #232323;
  color: #ffffff;
  border: 0.1rem solid #060606;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
